* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-regular-webfont.woff2') format('woff2'), url('montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-semibold-webfont.woff2') format('woff2'), url('montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-bold-webfont.woff2') format('woff2'), url('montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-extrabold-webfont.woff2') format('woff2'), url('montserrat-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-medium-webfont.woff2') format('woff2'), url('montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

span {
    display: inline-block;
}

.container {
    box-sizing: border-box;
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 18px 37px;
    background: #FF9900;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: color, background-color .3s ease-in-out;
    -o-transition: color, background-color .3s ease-in-out;
    transition: color, background-color .3s ease-in-out;
}

.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}

.subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.btn:hover {
    background: rgba(255, 153, 0, 0.7);
}

.btn:focus-visible {
    background: rgba(255, 153, 0, 0.7);
}

.btn:active {
    background: #E1670E;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 12px 0;
}

.header__menu {
    display: none;
}

.header__burger {
    width: 30px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/menu.svg);
}

.header__burger--active {
    background-image: url(../img/menu-cross.svg);
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 85px;
}

.nav__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 7px;
    color: #333333;
    -webkit-transition: border .1s ease-in-out;
    -o-transition: border .1s ease-in-out;
    transition: border .1s ease-in-out;
}

.nav__link:hover {
    border-bottom: 2px solid #FF9900;
}

.nav__link:focus-visible {
    padding: 5px;
    border: 2px solid #FF9900;
}

.nav__link:active {
    border: 2px solid #E1670E;
}

.search {
    margin-left: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.search-input {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #DCDCDC;
}

.search-input::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.search-input::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.search-input:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.search-input::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.search-input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.search__icon {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    margin-left: 85px;
}

.search__icon svg path {
    -webkit-transition: stroke .2s ease-in-out;
    -o-transition: stroke .2s ease-in-out;
    transition: stroke .2s ease-in-out;
}

.search__icon svg rect {
    -webkit-transition: fill .2s ease-in-out;
    -o-transition: fill .2s ease-in-out;
    transition: fill .2s ease-in-out;
}


.search__icon:active svg path {
    stroke: #FF9900;
}

.search__icon:active svg rect {
    fill: #FF9900;
}

.search__icon:hover svg path {
    stroke: #FF9900;
}

.search__icon:hover svg rect {
    fill: #FF9900;
}

.cross-input {
    outline: none;
    border: none;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/cross.svg);
}


.header-search-open__input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ADADAD;
}

.header-search-open-wrap {}

.header-search-open__btn {
    background: none;
    border: none;
    cursor: pointer;
}


.search-input--opened {
    display: block;
}

.cross-input--opened {
    display: block;
}

.hero {
    padding-top: 100px;
}

.hero-container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    height: 620px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 5;
    max-width: 900px;
    padding-left: 80px;
}

.swiper {
    position: absolute;
    z-index: -1;
    max-width: 1770px;
    width: 100%;
    max-height: 620px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 620px;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-pagination-bullet {
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    margin-right: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.hero__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.hero__btn {
    display: inline-block;
    align-self: flex-start;
    font-size: 23px;
    line-height: 29px;
    padding: 25px 50px;
}

.us {
    padding: 100px 0;
}

.us-content {
    max-width: 1235px;
}

.us__title {
    margin-bottom: 19px;
}

.us__subtitle {
    max-width: 1235px;
    margin-bottom: 47px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
}

.us-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.us-info__left {
    padding-top: 426px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    margin-right: 30px;
    background-image: url(../img/aboutusbg.jpg);
}

.us-info__info {
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 50px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
}

.us-info__desc {
    max-width: 454px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.us-info__details {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    padding: 16px 40px;
    border: 3px solid #FF9900;
}

.us-info__head {
    margin-left: 50px;
}

.us-info-item {
    padding: 65px 0;
    padding-left: 60px;
    border: 1px solid #CACACA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.us-info__right {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.us-info__svg {
    width: 190px;
    height: 165px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.us-info__svg--1 {
    background-image: url(../img/aboutus1.svg);
}

.us-info__svg--2 {
    background-image: url(../img/aboutus2.svg);
}

.us-info-item {
    margin-bottom: 32px;
}

.us-info__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 8px;
}

.us-info__subtitle {
    max-width: 420px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.work {
    padding-bottom: 100px;
}

.work__title {
    margin-bottom: 48px;
    margin-top: -33px;
}

.work-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.work-nav__link {
    border: 2px solid transparent;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    -webkit-transition: color .3s ease-in-out, border .3s ease-in-out;
    -o-transition: color .3s ease-in-out, border .3s ease-in-out;
    transition: color .3s ease-in-out, border .3s ease-in-out;
}

.work-nav__link:hover {
    color: #FF9900;
    -webkit-transition: color .3s ease-in-out, border .3s ease-in-out;
    -o-transition: color .3s ease-in-out, border .3s ease-in-out;
    transition: color .3s ease-in-out, border .3s ease-in-out;
}

.work-nav__link--active {
    color: #FF9900;
}


.work-nav__link:active {
    color: #E1670E;
}

.work-nav-list-item:not(:last-child) {
    margin-right: 85px;
}

.work-list {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.work-list-item {
    display: none;
}

.work-list-item--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.work-list-img {
    display: inline-block;
    width: 870px;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 142px;
}

.work-list-img--1 {
    background-image: url(../img/work1.jpg);
}

.work-list-img--2 {
    background-image: url(../img/work2.jpg);
}

.work-list-img--3 {
    background-image: url(../img/work3.jpg);
}

.work-list-img--4 {
    background-image: url(../img/work4.jpg);
}

.work-list__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 8px;
}

.work-list__subtitle {
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 50px;
    max-width: 758px;
}

.work-list__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 38px;
    -webkit-transition: color, background .3s ease-in-out;
    -o-transition: color, background .3s ease-in-out;
    transition: color, background .3s ease-in-out;
}

.work-list__link:last-child {
    border: 1px solid #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    padding: 19px 38px 19px 38px;
    background: none;
    margin-left: 30px;
}

.work-list__link:last-child:hover {
    background: #666666;
    color: #ffffff;
}

.work-list__link:last-child:focus-visible {
    background: #666666;
    color: #ffffff;
}

.work-list__link:last-child:active {
    background: #000000;
    color: #ffffff;
}

.questions {
    padding-bottom: 100px;
}

.ui-accordion-header-icon {
    display: none;
}

.questions__title {
    margin-bottom: 32px;
}

.ui-accordion .ui-accordion-header {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-top: 1px solid #CACACA;
}

.questions-summary--plus {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.ui-accordion .ui-accordion-header-active .questions-summary--plus {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-accordion .ui-accordion-header:hover .questions-summary {
    color: #FF9900;
}

.questions-summary--plus svg path {
    -webkit-transition: fill .2s ease-in-out;
    -o-transition: fill .2s ease-in-out;
    transition: fill .2s ease-in-out;
}

.questions-summary--plus svg .elipse-hover {
    -webkit-transition: fill .2s ease-in-out;
    -o-transition: fill .2s ease-in-out;
    transition: fill .2s ease-in-out;
}

.ui-accordion .ui-accordion-header:hover .questions-summary--plus svg path {
    fill: #ffffff;
}

.ui-accordion .ui-accordion-header:hover .questions-summary--plus svg .elipse-hover {
    fill: #FF9900;
}

.ui-accordion .ui-accordion-header:focus-visible .questions-summary--plus svg path {
    fill: #ffffff;
}

.ui-accordion .ui-accordion-header:focus-visible .questions-summary--plus svg .elipse-hover {
    fill: #FF9900;
}

.ui-accordion .ui-accordion-header:active .questions-summary--plus svg path {
    fill: #666666;
}

.ui-accordion .ui-accordion-header:active .questions-summary--plus svg .elipse-hover {
    fill: #ececec;
}

.ui-accordion .ui-accordion-header:active .questions-summary {
    color: #333333;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
}

.questions-summary {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    list-style-type: none;
    margin-right: auto;
    border: none;
    background: none;
    padding: 39px 0;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.summary:last-child {
    border-bottom: 1px solid #CACACA;
}

.questions-summary:hover {
    -webkit-animation: changeColor .3s;
    animation: changeColor .3s;
    color: #FF9900;
    background: none;
}

.questions-summary:hover .questions-summary--plus {
    -webkit-animation: changeColor .3s;
    animation: changeColor .3s;
    -webkit-animation: plus .3s;
    animation: plus .3s;
    background-image: url(../img/plushover.svg);
}


.questions-summary:focus-visible {
    background: none;
}

.questions-summary:active {
    background: none;
}

.questions-summary--plus {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/plus.svg);
}

.summary__text {
    border: none;
    padding: 0;
    margin: 0;
}

.questions-details__desc {
    padding-top: 0;
    max-width: 1003px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.footer {
    background: #222222;
    padding: 50px 0;
}

.footer-container {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-left {
    max-width: 280px;
}

.footer__logo-img {
    margin-bottom: 20px;
}

.footer-nav {
    margin-bottom: 90px;
}

.footer-nav__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-social__link path {
    -webkit-transition: fill .2s ease-in-out;
    -o-transition: fill .2s ease-in-out;
    transition: fill .2s ease-in-out;
}

.footer-social-item:hover .footer-social__link:hover path {
    fill: #FF9900;
}

.footer-social-item:focus-visible .footer-social__link:focus-visible path {
    border: 2px solid #FF9900;
}

.footer-social-item:active .footer-social__link:active path {
    fill: #E1670E;
}

.footer-social-item:not(:last-child) {
    margin-right: 25px;
}

.footer-middle {
    max-width: 590px;
}

.footer__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
    margin-bottom: 25px;
}

.footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer-form__input {
    background: #414141;
    padding: 14px 328px 14px 24px;
    outline: none;
    border: none;
    color: #CACACA;
    margin-bottom: 25px;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.footer-form__input::-webkit-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__input::-moz-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__input:-ms-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__input::-ms-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__input:active {
    background: #666666;
    color: #FFFFFF;
}

.footer-form__input:focus-visible {
    background: #666666;
    color: #CACACA;
}

.footer-form__input:hover {
    background: #666666;
    color: #CACACA;
}

.footer-form__textarea {
    margin-bottom: 32px;
    width: 590px;
    height: 150px;
    background: #414141;
    resize: none;
    outline: none;
    border: none;
    padding-top: 14px;
    padding-left: 20px;
    line-height: 32px;
    color: #CACACA;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.footer-form__textarea::-webkit-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__textarea::-moz-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__textarea:-ms-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__textarea::-ms-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__textarea::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__textarea:active {
    background: #666666;
    color: #FFFFFF;
}

.footer-form__textarea:focus-visible {
    background: #666666;
    color: #CACACA;
}

.footer-form__textarea:hover {
    background: #666666;
    color: #CACACA;
}

.footer-btn__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-btn {
    margin-right: 22px;
    padding: 19px 52px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.footer-btn__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-btn__desc label {
    position: relative;
    padding-left: 14px;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    cursor: pointer;
}

.footer-btn__check {
    display: none;
}

.footer-btn__check+span {
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #CACACA;
    top: 8px;
    left: -5px;
}

.footer-btn__check+span:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    background-image: url(../img/check.svg);
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.footer-btn__check:checked+span:before {
    opacity: 1;
}

.footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 363px;
}

.footer-desc {
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.header-nav--adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__list--adaptive {
    position: fixed;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(147px);
    -ms-transform: translateY(147px);
    transform: translateY(147px);
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.nav__item--adaptive:not(:last-child) {
    margin-bottom: 15px;
}

.nav__link--adaptive {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 5px;
    padding-left: 0;
    margin-left: 20px;
    color: #333333;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
    border: 2px solid transparent;
}

.nav__link--adaptive:hover {
    border-bottom: 2px solid #FF9900;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}


.nav-list--adaptive--open {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

#burger {
    display: none;
    background: none;
    border: none;
    outline: none;
    flex-direction: column;
    gap: 6px;
    height: 100%;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

#burger span {
    width: 20px;
    height: 1px;
    background-color: #000;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.header__menu--active {
    transform: translateY(-5px);
}

.header__menu--active span:nth-child(1) {
    opacity: 0;
}

.header__menu--active span:nth-child(2) {
    transform: rotate(45deg) translate(0px, 5px);
}

.header__menu--active span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -5px);
}

.search--adaptive {
    position: fixed;
    width: 100%;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 576px;
}

.cross-accordion {
    width: 50px;
    height: 50px;
}


@media (max-width: 1366px) {
    .us-info__left {
        margin-right: 0;
    }
}

@media (max-width: 1260px) {
    .footer-right {
        display: none;
    }
}

@media (max-width: 1200px) {
    .work-list-item--active {
        width: 100%;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .work-list__subtitle {
        max-width: none;
    }

    .work-list-img {
        align-self: stretch;
        margin-left: 0;
        object-fit: cover;
        width: 100%;
    }

    .work-list {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .header {
        z-index: 10;
    }
    #burger {
        display: flex;
    }
    .header-container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .header__logo {
        margin-right: 0;
        width: 150px;
        height: 48px;
    }

    .header__nav {
        display: none;
    }

    .header__menu {
        display: inline-block;
    }

    .search {
        margin-left: 0;
    }

    .hero {
        padding: 76px 0 150px 0;
        padding-bottom: 0;
    }

    .hero-content {
        padding: 115px 77px;
        max-width: 770px;
    }

    .hero__title {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 16px;
    }

    .hero__subtitle {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    .swiper-wrapper .swiper-slide img {
        height: 668px;
    }

    .us-info-item {
        padding: 65px 0;
        padding-left: 77px;
    }

    .summary__text {
        overflow-y: scroll;
    }

    .footer-right {
        display: none;
    }
}

@media (max-width: 901px) {
    .footer-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .footer-nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .hero-content {
        padding: 75px 40px;
        max-width: 590px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .us-info-item {
        padding: 35px 0;
        padding-left: 30px;
    }

    .us-info__head {
        margin-left: 16px;
    }

    .us-info__svg {
        width: 95px;
        height: 79px;
    }

    .work-nav-list-item:not(:last-child) {
        margin-right: auto;
    }

    .work-list-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .works-list__info {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .work-list-img {
        margin-left: 0;
        max-width: 100%;
        height: 284px;
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 38px;
    }

    .work-list__subtitle {
        max-width: 668px;
    }

    .questions-summary {
        font-size: 20px;
        line-height: 32px;
        max-width: 570px;
    }

    .questions-details__desc {
        font-size: 20px;
        line-height: 32px;
        max-width: 540px;
    }

    .summary__text {
        overflow-y: scroll;
    }

    .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer-middle {
        margin-bottom: 50px;
    }

    .footer-nav {
        display: none;
    }

    .footer__logo {
        margin-bottom: 16px;
    }

    .summary__text {
        height: 350px;
    }

    .footer-form__textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .header__logo {
        width: 110px;
        height: 35px;
    }

    .swiper {
        margin: 0 -15px;
    }

    .us {
        padding-top: 0;
        margin-top: -300px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        display: none;
    }

    .hero-container {
        align-items: start;
    }

    .hero {
        padding: 60px 0;
    }

    .hero-content {
        padding: 60px 22px;
        margin: 0 auto;
        max-width: 250px;
    }

    .hero__title {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 8px;
    }

    .hero__subtitle {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 32px;
        max-width: 200px;
    }

    .hero__btn {
        padding: 13px 27px;
        margin-left: 25px;
        font-size: 12px;
        line-height: 15px;
    }

    .swiper-wrapper .swiper-slide img {
        height: 308px;
    }

    .swiper-pagination {
        margin-bottom: 310px;
        margin-left: -20px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .title {
        font-size: 24px;
        line-height: 29px;
    }

    .subtitle {
        font-size: 14px;
        line-height: 28px;
    }

    .us-info__left {
        padding-top: 300px;
        background-position: 0 0;
        background-size: 100%;
    }

    .us-info__info {
        background: none;
        padding: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .us-info__desc {
        font-weight: 400;
        color: #333333;
        margin-bottom: 15px;
    }

    .us-info__details {
        color: #FF9900;
        padding: 12px 43px;
    }

    .us-info-item {
        padding: 0;
        border: none;
        margin-top: 32px;
        margin-bottom: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .us-info__head {
        margin-left: 0;
    }

    .us-info__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
    }

    .us-info__subtitle {
        font-size: 14px;
        line-height: 28px;
    }

    .us-info__svg {
        width: 64px;
        height: 49px;
        background-size: contain;
        margin-bottom: 12px;
    }

    .work-nav-list {
        max-width: 100%;
    }

    .us-info__info {
        padding-top: 110px;
    }

    .work-nav__link {
        font-size: 14px;
        line-height: 17px;
        padding: 0;
    }

    .work-list__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .work-list__subtitle {
        font-size: 14px;
        line-height: 28px;
        max-width: 100%;
    }

    .work-list__link {
        padding: 12px 43px;
        font-size: 12px;
        line-height: 15px;
    }

    .work-list__link:last-child {
        padding: 11px 29px;
        font-size: 12px;
        line-height: 15px;
        margin-left: 10px;
    }

    .questions-summary {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        max-width: 243px;
    }

    .questions-details__desc {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        max-width: 100%;
    }

    .summary__text {
        overflow-y: scroll;
    }

    .ui-accordion .ui-accordion-header .questions-summary--plus {
        -webkit-transform: scale(.6);
        -ms-transform: scale(.6);
        transform: scale(.6);
    }

    .ui-accordion .ui-accordion-header-active .questions-summary--plus {
        -webkit-transform: scale(.6) rotate(45deg);
        -ms-transform: scale(.6) rotate(45deg);
        transform: scale(.6) rotate(45deg);
    }

    .footer-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: none;
    }

    .footer__logo-img {
        width: 131px;
        height: 42px;
    }

    .footer__title {
        font-size: 24px;
        line-height: 29px;
    }

    .footer-form__input {
        padding: 14px 69px 14px 20px;
    }

    .footer-form__input::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__input::-moz-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__input:-ms-input-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__input::-ms-input-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__input::placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__textarea {
        width: 100%;
    }

    .footer-form__textarea::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__textarea::-moz-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__textarea:-ms-input-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__textarea::-ms-input-placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-form__textarea::placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .footer-btn__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-btn {
        padding: 12px 23px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 11px;
    }

    .footer-social-item .footer-social__link {
        width: 40px;
        height: 40px;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

@media (max-width: 500px) {
    .us-info__info {
        padding-top: 50px;
    }
}

@media (max-width: 420px) {
    .us-info__info {
        padding-top: 0px;
    }
}


@media (max-width: 376px) {
    .us-info__left {
        padding-top: 255px;
    }
}